
#addJson{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 5vh;
	display: true; /*true - none*/
}
#addJson p{
	margin: 20px;
	font-size: 1.2em;
}
#addJson textarea{
	height: 50vh;
	width: 60%;
}
#addJson button{
	height: 2.5em;
	width: 8em;
	margin: 6px;
}
#addJson button:hover{
	background-color: white;
	transition: 0.2s;
}

#graphics{
	display: none; /*none - flex*/
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 10vh;
}
#graph1{
    width: 60%; /* 47% si 2 graphiques */
}
#carouselExample{
    width: 47%;
    display: none; /* true pour l'afficher */
}
#carousel-buttons{
	display: flex;
	justify-content: space-between;
}
#carousel-buttons button{
	width: 80px;
	height: 30px;
	border: 1px solid black; 
	border-radius: 8px;
}
#carousel-buttons button:hover{
	background-color: white;
	transition: 0.2s;
}

@media only screen and (max-width: 900px) {
	#graphics{
		flex-direction: column;
		justify-content: center;
		padding: 2vh;
	}
	#graph1{
    	width: 30em;
	}
	#carouselExample{
    	width: 30em;
	}
}