*{
	margin : 0;
}
.header{
	background-color: lightblue;
	height: 10vh;
	background-color: #333;
}
#title{
	display: flex;
	justify-content: center;
	color: white;
	background-color: #333;
	padding: 1em 20px;
	font-size: 1em;
}
#title h1{
	font-size: 2em;
}
#nav{
	position: fixed;
	top: 0;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
}
#nav li{
	float: left;
}
#nav a{
	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px 22px;
  	text-decoration: none;
  	font-size: 1.1em;
}
#nav a:hover {
  	background-color: #111;
  	transition: 0.2s;
}

.main{
	background-color: whitesmoke;
	height: 80vh;
}

.main_Scenario{
	background-color: whitesmoke;
	height: 100vh;
}
.footer{
	background-color: lightgreen;
	height: 10vh;
}
#copyright{
	display: flex;
	justify-content: center;
	padding-top: 4vh;
	color: white;
}