.qad-content {
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: table;
    width: 300px;
}

.qad-question-header {
    float: left;
    margin-top: 10px;
    text-align: center;
    color: #000;
    margin: 10px;
    font-size: large;
}

.qad-answer-header {
    text-align: center;
    color: #000;
}

.qad-options {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: table;
}

.qad-content.qad-options {
    display: table-cell;
    text-align: center;
}

.qad-option.qad-button {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    border-radius: 15px;
    height: 50px;
    /* width: 250px; */
    padding: 0 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    /* font-family: Helvetica Neue; */
    cursor: pointer;
    outline: none;
    font-size: large;
}

.qad-button:hover {
    background-color: palegoldenrod;
    color: white;
}

#option-div {
    /* margin:0 auto; */
    /* margin-top: 10px; */
    /* width: 155px; */
    display: table-cell;
    vertical-align: middle;
}

.qad-option #option-div {
    display: table-cell;
    text-align: center;
}

.option-input {
    /* margin-top: 5px; */
    height: 25px;
    /* width: 230px; */
    font-size: large;
}

#option-div .option-input{
    display: table-cell;
    vertical-align: middle;
}